<% include ../partials/header %>


<div class="container">
    <div class="row">
        <div class="jumbotron" style="margin: 120px auto">
        <h2 style="text-align: center">Create a New Character</h2>
            <form action="/characters" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="character[name]" placeholder="Character Name" minlength="3" maxlength="11" required>
                </div>
                <div id="radios" class="form-group">
                   <label>
                        <input type="radio" name="character[gender]" value="Male" />
                        <i class="fa fa-mars" aria-hidden="true"> Male</i>
                    </label>
                    <label class="rad">
                        <input type="radio" name="character[gender]" value="Female" />
                        <i class="fa fa-venus" aria-hidden="true"> Female</i>
                    </label>
                </div>
                 <div class="form-group">
                    <select class="form-control" name="character[role]">
                        <option value="Warrior">Warrior</option>
                        <option value="Mage">Mage</option>
                        <option value="Rogue">Rogue</option>
                        <option value="Priest">Priest</option>
                        <option value="Ranger">Ranger</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control" name="character[race]">
                        <option value="Human">Human</option>
                        <option value="Elf">Elf</option>
                        <option value="Dwarf">Dwarf</option>
                        <option value="Half-Orc">Half-Orc</option>
                        <option value="Tiefling">Tiefling</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="character[guild]" placeholder="Guild Name (optional)" minlength="3" maxlength="15">
                </div>
                <div class="form-group">
                    <textarea name="character[story]" placeholder="Character Backstory (optional)"></textarea> 
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
                    <a href="/characters">Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>