<!DOCTYPE html>
<html>
    <head>
        <title>DAYBREAK - Character Database</title>
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Fanwood+Text" rel="stylesheet">
        <link rel='stylesheet' type="text/css" href="/stylesheets/app.css">
    </head>
    
    <body>
        
        <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/characters"><i class="fa fa-sun-o fa-1g" aria-hidden="true"></i> <span class="logo">DAYBREAK</span></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/characters">Characters</a></li>
                    <li><a href="/equipment">Equipment</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="buffer"></div>